@font-face {
  font-family: "GothamPro";

  src: url("./fonts/GothaProLigIta.woff") format("woff"), /* Modern Browsers */
    url("./fonts/GothaProLigIta.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "GothamPro";

  src: url("./fonts/GothaProLig.woff") format("woff"), /* Modern Browsers */
    url("./fonts/GothaProLig.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";

  src: url("./fonts/GothaProBol.woff") format("woff"), /* Modern Browsers */
    url("./fonts/GothaProBol.woff2") format("woff2"); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('roboto-bold-webfont.woff2') format('woff2'),
       url('roboto-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('roboto-light-webfont.woff2') format('woff2'),
       url('roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: GothamPro;
  margin: 0px;
}

ul {
margin: 0;
padding: 0;
}
ul li {
  list-style: none;
}

.header {
  background: #27273e;
  font-family: GothamPro;
  font-weight: bold;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 1067px;
}
.header__container {
  position: relative;
  height: 76px;
  text-decoration:none;
}

.header__logo {
  position: absolute;
  top: 13px;
  left: 19px;
}

.contacts {
  position: absolute;
  right: 21px;
  top: 22px;
  text-align: right;
}
.contacts__phone {
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts__text {
  color: #ec1e79;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.banner {
  margin-bottom: 67px;
}

.banner_coworking {
  width: 100%;
}

.sidebar {
  display: inline-block;
  font-weight: bold;
}

.main-content {
  display: inline-block;
}

.nav__list {
  margin: 20px;
}

.nav__link {
  text-decoration: none;
}

.nav__title {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1.2px;
  padding: 19px;
  color: #ec1e79;
}

.nav__link--active .nav__title{
  color: #222222;
}

.main-content {
  position: relative;
  transform: translate(20%,-15%);
}

.base {
  font-weight: bold;
  color: #221f1f;
}

.title {
  color: #221f1f;
  margin-bottom: 70px;
}

.base__features {
  display: inline-block;
  margin-bottom: 65px;
}

.base__plus {
  display: inline-block;
  padding-left: 68px;
  width: 190px;
}

.base__icon {
  background: #27273e;
  height: 22px;
  padding: 16px;
  border-radius: 50%;
  transform: translate(50%, 0%);
  margin-bottom: 30px;
}

.news__list,
.pagination {
  font-family: Roboto;
}

.news__pic{
  border-radius: 50%;
  position: absolute;
  height: 160px;
}

.pagination {
  display: inline-block;
  padding-left: 270px;
}

.pagination__display,
.pagination__controls,
.pagination__item,
.pagination__button-next {
  display: inline-block;
  
}

.footer {
  position: absolute;
  background: #27273e;
  height: 77px;
  width: 100%;
}

.footer__sign {
  width: 265px;
}

.footer__logo {
  position: absolute;
  left: 45%;
}

.footer__link {
  text-decoration: none;
}

.footer__link-pic {
  background: #d4d4d8;
  height: 9px;
  padding: 10px;
  border-radius: 50%;
  transform: translate(50%, 0%);
  margin-bottom: 16px;
  position: relative;
  right: -83%;
}

