.base {
  font-weight: bold;
  color: #221f1f;
}

.base__features {
  display: inline-block;
  margin-bottom: 65px;
}

.base__plus {
  display: inline-block;
  padding-left: 68px;
  width: 190px;
  text-align: center;
}

.base__icon {
  background: #27273e;
  border-radius: 50%;
  margin-bottom: 30px;
}

.base__desc ,
.base__list {
  font-weight: 300;
  text-align: center;
}

.base__list {
  text-align: left;
}

.base__list li::before {
  color: #ec1e79;
  content: "•"; 
  padding-right: 30px;
}
