.breadcrumbs {
  margin-bottom: 30px;
}

.breadcrumbs__list {
  display: flex;
  width: 15%;
}

.breadcrumbs__item,
.breadcrumbs__link {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__link {
  color: #ec1e79;
  font-size: 14px;
  font-family: 'Gotham Pro';
  font-style: italic;

}

.breadcrumbs__item--active:after {
  display: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: #221f1f;
  text-decoration: none;
}