/* .footer {
  display: inline-block;
  position: relative;
  background: #27273e;
  height: 80px;
  width: 100%;
}

.footer__sign {
  width: 265px;
}

.footer__links {
  position: relative;
  left: 80%;
  margin-top: -65px;
}

.footer__logo {
  display: inline-block;
  position: relative;
  height: 51px;
  left: 45%;
  margin-top: -40px;
}

.footer__link {
  text-decoration: none; 
}

.footer__link-pic {
  background: #d4d4d8;
  height: 9px;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  left: 80%;
} */

.footer {
  display: flex;
  background: #27273e;
  justify-content: space-around;
  align-items: center;
  flex-grow: inherit;
} 

.footer__link-pic {
  background: #d4d4d8;
  border-radius: 50%;
}

.footer__sign {
  flex: 1 1 260px;
}

.footer__logo {
  flex: 1;
}

.footer__links {
  flex: 1;
}